<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="https://www.chartjs.org/samples/2.9.4/utils.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />   
    <link href="{% static 'mystyle.css' %}" rel="stylesheet" />
</head>
<body>

<!-- auth0login/templates/index.html -->
<div class="container card shadow">
    <div class="login-box auth0-box before">
        <h3>Login Aplikasi Sistem Informasi Yayasan</h3>
        <p>Partial development</p>
        <a class="btn btn-primary btn-lg btn-login btn-block" href="/login/auth0">Log In</a>
    </div>
</div>

</body>
</html>