<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
<!--    <script src="https://www.chartjs.org/samples/2.9.4/utils.js"></script>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />   -->
<!--    <link href="{% static 'mystyle.css' %}" rel="stylesheet" />-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

<!-- auth0login/templates/index.html -->
<div class="container card shadow mt-5 p-5">
    <div class="login-box auth0-box before">
        <h3>Login Aplikasi SIK</h3>
        <p>Apps that provide an overview of financial. <span class="badge bg-secondary">On inactivate development <development></development></span></p>
        <a class="btn btn-primary btn-lg btn-login btn-block" href="/login/auth0">Log In</a>
    </div>
</div>
</body>
</html>